*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
}

body{
  background: #F2F2F2;
}

.container{
  width: 90%;
  margin: 0 auto;
}

span{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-span{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gray-span{
  color: rgba(0, 0, 0, 0.50);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.white-span{
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1{
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2{
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.9;
}

p{
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sell-p{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 164.286% */
  opacity: 0.8;
}

h3{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

.nav-item{
  color: rgba(0, 0, 0, 0.90);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-span{
  color: #29B24E;
  text-align: right;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.month-span{
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}

.navigation{
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-item{
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
  padding-bottom: 9px;
}

.nav-item:hover{
  border-bottom: 2px solid #29B24E;
}


.button-box{
  border-radius: 12px;
  background: #29B24E;
  display: flex;
  align-items: center;
  justify-content: center;
  Width: 156px;
  Height: 47px;
  transition: all 0.3s;
  transition-delay: 0.2s;
}


.button-box:hover{
  opacity: 0.8;
}

.search-icon{
  display: none;
}

.main-grid{
  display: grid;
  grid-template-columns: 29% 70%;
  gap: 1%;
  margin-top: 41px;
}

.sell-main-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  margin-top: 41px;
}

.grid-box-left{
  padding-top: 32px;
  padding-bottom: 38px;
  border-radius: 24px;
  background: #F8F8F8;
  box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);
}

.sell-grid-right-box{
  border-radius: 24px;
  background: #F8F8F8;
  box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.30);
  padding-top: 32px;
}

.left-box{
  display: flex;
  flex-direction: column;

}

#location{
  border-radius: 10px;
  border: 1px solid rgba(13, 156, 164, 0.21);
  background: #F8F8F8;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 18px;
}

.option{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.property-box{
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.checkbox-box{
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 15px;
}

.second-property-box{
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}

.property-item-box{
  display: flex;
  align-items: center;
}

.checkbox{
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1.4px solid #29B24E;
  opacity: 0.9;
}

.checkbox:checked{
  accent-color: #29B24E;
}

.grid-box-right{
  position: relative;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.47) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.main-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.main-heading-form{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 40%;
}

.p-box{
  margin-top: 10px;
}

.search-box{
  width: 324px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(248, 248, 248, 0.80);
  box-shadow: 0px 4px 10px 0px rgba(124, 124, 124, 0.27);
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.search{
  width: 85%;
  height: 100%;
}

::placeholder{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.search-bar{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(248, 248, 248, 0.80);
  border-radius: 10px;
  padding-left: 24px;
  font-size: 14px;
  font-family: Poppins;
  opacity: 0.5;
}

.submit{
  width: 15%;
  height: 100%;
  border: none;
  background-color:rgba(248, 248, 248, 0.80);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.second-section{
  margin-top: 20px;
}

.second-section-name{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.second-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap: 1%;
  margin-top: 36px;
}

.second-grid-box{
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: #F8F8F8;
  box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.30);
}

.photo-box{
  position: relative;
  max-width: 97%;
  height: 202px;
  margin: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #B0B0B0;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.vip-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 30px;
  border-radius: 15px;
  background: #29B24E;
  top: 18px;
  left: 23px;
}

.vip-white-span{
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bookmark-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFF;
  filter: drop-shadow(-2px 4px 20px rgba(109, 109, 109, 0.25));
  top: 182px;
  left:85%;
}

.text-price-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.border-box{
  border-bottom: rgba(207, 234, 214, 1) 1px solid;
}

.price-box{
  margin-top: 15px;
  margin-bottom: 16px;
  text-align: right;
}

.house-rooms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 15px;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: #29B24E;
  box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.10);
  margin-top: 120px;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 89px;
  width: 100%;
  border-bottom: #D0D0D0 1px solid;
}

.footer-nav-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-nav{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.mail{
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mail-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-down-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 89px;
}

.mobile-application{
  display: none;
}

.sell-grid-right-box-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sell-vip-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 30px;
  border-radius: 15px;
  background: #29B24E;
}

.view-box{
  display: flex;
  align-items: center;
  gap: 8px;
}

.sell-gray-span{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 191.667% */
  opacity: 0.6;
}

.sell-heading-box{
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 32px;
  gap: 12px;
}

.sell-room-description{
  height: 55px;
  border-top:  #ECECEC 1px solid;
  border-bottom: #ECECEC 1px solid;
  margin: 40px 0px 24px 0px;
  display: flex;
  align-items: center;
}

.specifications-room{
  display: flex;
  justify-content: space-between;
}

.sell-room-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
  margin-bottom: 24px;
}

.sell-room-grid-first{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  gap: 16px;
}

.sell-property-box{
  display: grid;
  grid-template-rows: 50% 50%;
}

.sell-room-grid-second{
  display: grid;
  gap: 16px;
}

.sell-room-room-grid-third{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  gap: 16px;
}

.facility-items{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sell-grid-left-box{
  border-radius: 20px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #B0B0B0;
  box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.30);
}

.sell-bottom-box{
  border-top: 1px solid  #ECECEC;
  padding-top:27px;
  padding-bottom: 26px;
}

.sell-bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell-price-box{
  display: flex;
  align-items: baseline;
}

.contact-buttons{
  display: flex;
  gap: 16px;
}

.messege-box{
  border-radius: 12px;
  border: 1px solid #29B24E;
  padding: 13px 26px;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.messege-box:hover{
  background-color: #29B24E;
}

.green-span{
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.green-span:hover{
  color: #FFF;
}

.call-box{
  padding: 13px 26px;
  border-radius: 12px;
  background: #29B24E;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.call-box:hover{
  opacity: 0.8;
}

.sell-price{
  color: #29B24E;
  text-align: right;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



@media (max-width:1024px) {
  .navigation{
    gap: 28px;
  }

  .button-box{
    display: none;
  }

  .search-icon{
    display: flex;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #F8F8F8;
    box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);
    align-items: center;
    justify-content: center;
  }

  .main-grid{
    grid-template-columns: 35% 64%;
  }

  h1{
    font-size: 24px;
  }

  .search-box{
    display: none;
  }

  .p-box{
    font-size: 14px;
  }

  .second-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:424px 424px;
  }

  .mail-box{
    display: none;
  }

  .footer-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }

  .sell-main-grid{
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}



@media (max-width:768px) {
  .main-grid{
    grid-template-columns: 50% 49%;
  }
}

@media (max-width:425px) {
  .navigation{
    display: none;
  }

  .button-box{
    display: none;
  }

  .main-grid{
    grid-template-columns: 1fr;
  }  

  .grid-box-right{
    width: 100%;
    height: 435px;
    order: 1;
  }

  .grid-box-left{
    order: 2;
  }

  .main-heading-form{
    top: 32px;
  }

  .second-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 424px);
  }

  .footer{
    margin-top: 270px;
    height: auto;
    border-radius: 25px;
  }

  .footer-grid{
    grid-template-columns: repeat(2, 1fr);
    height: 236px;
  }

  .mail-box{
    display: none;
  }

  .footer-nav-box{
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  .mobile-application{
    display: block;
    margin-top: 84px;
    border-radius: 24px 24px 0px 0px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    height: 72px;
    width: 100%;
  }

  .app-row{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .app-box{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

  }

  .app-logo-box{
    border-radius: 4px;
    transition: all 0.3s;
    transition-delay: 0.2s;
    margin-bottom: 12px;
  }

  .app-logo-box:hover{
    background-color: #29B24E;
    scale: 3;
    margin-bottom: 25px;
  }

  .logo{
    width: 100%;
    height: 100%;
  }

  .app-logo{
    transition: all 0.3s;
    transition-delay: 0.3s;
    width: 24px;
    height: 24px;
  }

  .app-logo:hover{
   scale: 0.6; 
  }

  .footer-icon-name{
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.9;
  }

  .sell-room-grid{
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .sell-property-box{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .sell-room-grid-second{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .facility-items{
    align-items: flex-end;
  }

  .sell-bottom-box{
    padding-top: 16px;
    padding-bottom: 45px;
  }

  .sell-bottom-container{
    flex-direction: column;
  }

  .sell-price-box{
    width: 100%;
  }

  .contact-buttons{
    flex-direction: column;
    gap: 12px;
    width: 100%;
    
  }

  .sell-box{
    margin-left: 31px;
    margin-bottom: 41px;
  }
  

  .messege-box{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    order: 2;
  }

  .call-box{
    align-items: center;
    justify-content: center;
    display: flex;
    order: 1;
  }
}

@media (max-width:375px) {
  .navigation{
    display: none;
  }

  .button-box{
    display: none;
  }

  .main-grid{
    grid-template-columns: 1fr;
  }  

  .grid-box-right{
    width: 100%;
    height: 435px;
    order: 1;
  }

  .grid-box-left{
    order: 2;
  }

  .main-heading-form{
    top: 32px;
  }

  .second-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 424px);
  }

}

